.main-container {
  min-height: 100vh;
  background-color: #DDE6ED;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23c7c4cb' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.social-btn:hover {
  background-color: #e0e5e9 !important;
  color: black !important;
}

@media screen and (max-width: 668px) {
  .form-container {
    width: 85%;
  }
  .form-wrapper {
    width: 100%;
  }
  .avatar {
    display: none;
  }
}

@media screen and (min-width: 669px) {
  .form-container {
    width: 65%;
  }
  .form-wrapper {
    width: 60%;
  }
  .avatar {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .avatar {
    display: block;
  }
}